.table1, tr, td{
	border-collapse:collapse;
	height:25px;
	border: 1px solid black;
}

.span1{
	font-size:20px;
	font-weight:bold;
}

.width_100{
	width:100px;
}
.width_150{
	width:150px;
}
.width_200{
	width:200px;
}
.width_250{
	width:250px;
}
.width_300{
	width:4300px;
}
.width_400{
	width:400px;
}